/*------------------------------------*/
//  #HEADER
/*------------------------------------*/



/*------------------------------------*/
//  #PAGE
/*------------------------------------*/

.page-styles {
  color: #232129;
  padding: 1rem;
  font-family: "-apple-system", "Roboto", sans-serif;
}

/*------------------------------------*/
//  #TYPOGRAPHY
/*------------------------------------*/

.heading-styles {
  margin-block-start: 0; // browser reset
  margin-block-end: 64px;
}

.paragraph-styles {
  margin-block-end: 48px;
}