/* .card {
} */

.card-content {
  padding: var(--cadence);
  border-radius: 0.75rem;
  // max-width: 42rem; // guess and check
}

.squeegee {
  float: right;
  width: 10rem;
  place-self: end;
  transform: scaleX(-1); // I know this is only one but use it for now
}

.hero__wrapper {
  margin-block-end: 3rem; // 48px
  border-block-end: 1px solid var(--lead);

  @media (prefers-color-scheme: dark) {
    border-color: white;
  }

  //testing
  background-color: peachpuff;
  display: flex;
  align-items: stretch;
  align-content: stretch;

  .hero__wrapper--start,
  .hero__wrapper--end {
    @media (min-width: 52rem) {
      background-color: plum;
      width: 10rem;
    }
  }
}

.hero {
  width: 100%;
  max-width: var(--caliber);
  margin-inline: auto;
  display: grid;
  align-items: end;

  @media (min-width: $pad) {
    padding-inline: var(--cadence);
  }

  > * {
    grid-row: 1;
    grid-column: 1;
  }

  .squeegee__outline {
    opacity: 0.5;
    float: right;
    width: 10rem;
    shape-outside: ellipse(4.5rem 8rem at 60% 80%); // guess and check

    @media (min-width: $pad) {
      shape-outside: ellipse(4.5rem 8rem at 60% 66.66%); // guess and check
    }
  }

  .squeegee {
    margin-block-end: -1px;

    svg {
      margin-block: -6px; // guess and check
      stroke-width: 4px;

      @media (min-width: $pad) {
        stroke-width: 2px;
      }
    }
  }
}

// named secondary to hero
.sidekick {
  max-width: 60rem;
  margin-inline: auto;

  grid-template-rows: 8rem auto auto auto; // guess and check

  display: grid;
  @media (min-width: $pad) {
    grid-template-rows: auto;
    grid-template-columns: 1fr 5rem 1fr;
  }
  // gap: 1rem;

  .cozy {
    aspect-ratio: 16/9;
    max-width: var(--caliber);
    grid-row: 1/3;
    grid-column: 1;
    border-radius: 0.75rem;
    transform: scaleX(-1);
    box-shadow: var(--troposphere);

    @media (min-width: $pad) {
      grid-row: 1/3;
      grid-column: 1/3;
    }
  }

  blockquote {
    grid-row: 2;
    grid-column: 1;
    padding: 1rem;
    z-index: 1;
    position: relative;
    background-color: ghostwhite;
    max-width: 85vw;
    margin-inline: auto;
    border-radius: 0.75rem;
    box-shadow: var(--troposphere);

    @media (min-width: $pad) {
      grid-row: 1;
      grid-column: 2/4;
      max-width: auto;
    }

    @media (prefers-color-scheme: dark) {
      background-color: hsl(var(--pine-hs), calc(var(--pine-l) - 16%));
    }
  }

  article {
    grid-row: 3;
    grid-column: 1;
    border-radius: var(--bend);
    z-index: 1;
    padding: 1rem;
    padding-inline: var(--cadence);
    box-shadow: var(--troposphere);

    @media (min-width: $pad) {
      grid-row: 2/4;
      grid-column: 2/4;
      padding-inline-start: 4rem; // 📣
    }
  }

  svg {
    grid-row: 4;
    grid-column: 1;
    justify-self: end;
    z-index: 1;
    margin-block-start: -3rem;

    @media (min-width: $pad) {
      grid-row: 3/5;
      grid-column: 1/3;
      margin-block-start: 1.5rem;
    }
  }
}

.cleaner__wrapper {
  display: grid;
  border-block-end: 1px solid var(--almost-black);

  @media (prefers-color-scheme: dark) {
    border-color: whitesmoke;
  }

  > * {
    @media (min-width: $pad) {
      grid-row: 1;
      grid-column: 1;
    }
  }

  .cleaner {
    align-self: end;
    justify-self: center;
    z-index: 1;
    position: relative;
    margin-inline-end: calc(var(--cadence) * 10);
    margin-block-start: -1rem;
    margin-block-end: -0.6rem;
  }

  .sidekick {
    @media (min-width: $pad) {
      margin-block-end: 3rem;
    }
  }
}
