/*------------------------------------*/
  /* #LISTS */
/*------------------------------------*/

ul li {
  margin-block-end: 0.4rem;
}

/*------------------------------------*/
  /* #NAV */
/*------------------------------------*/

nav ul {
  /* browser reset */
  padding-inline-start: 0;

  display: flex;
  flex-flow: row wrap;
  list-style: none;
  /* TODO: variable */
  gap: 0.8rem;

  & li {
    margin-block-end: 0;
  }
}
