nav ul {
  // margin-block-start: 4rem; // test
  display: flex;
  flex-direction: column;
}

button {
  z-index: 1;
  position: relative;
}

.button4plus {
  width: 100%;
  // background: lightblue;
}

.button-styles {
  line-height: 1.5;
  height: 2rem;
  overflow: hidden;
  // width: 6rem; // this is needed due to the span I cant figure it out after
  transform: translate3D(0, 0, 0); // I need this to hide things
  text-align: start;
}

.span-styles {
  position: fixed; // I never like these things but it's needed here
  height: 1rem;
  line-height: 2rem;
  transition: 2s ease;
  margin-block-start: -1rem; // I dont know why I have to add this something about defaults probably
}
