/*------------------------------------*/
  /* #TYPOGRAPHY */
/*------------------------------------*/

/* https://type-scale.com 1.2 minor third */

/*
24px baseline
48px
72px
96px
120px
*/

body {
  font-family: fieldwork, "-apple-system", "Roboto", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
  /* browser reset */
  /* TODO: make it something more exciting */
  font-family: Georgia, sans-serif;
  font-weight: 500;
  font-style: italic;
  margin-block-start: 0;
}

h1 {
  font-size: var(--freel);
  line-height: 1.6;
}

h2 {
  font-size: var(--jobs);
}

h3 {
  font-size: var(--rose);
  line-height: calc(var(--rose) * 1.5);
}

h4 {
  font-size: var(--houghton);
}

h5 {
  font-size: var(--relay);
}

h6 {
  font-size: var(--stevens);
}

small,
.text_small {
  font-size: var(--tamarack);
}

p {
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  margin-block-end: 1.6rem;
}

@media (min-width: 30rem) {
  .end {
    text-align: right;
  }
}

blockquote {
  font-style: italic;
  max-width: var(--neptune);
  margin-inline: auto;
  margin-block: 3rem;
  display: flex;
  flex-direction: column;
  font-size: var(--houghton);
}

address {
  line-height: 1.5;
  /* reset */
  font-style: normal;
}

/* TODO: naming */
.br__pad {
  display: none;
  @media (min-width: 30rem) {
    display: initial;
  }
}

.longline {
  /* TODO: variables */
  font-size: clamp(
    0.875rem,
    1.667vw,
    1rem
  );
  /* 14px and up? the email is just really long so trying to make it fit without it being too obvious */
}

:is(.hero, .sidekick) h2 {
  font-size: clamp(var(--houghton), 1.667vw, var(--jobs));
}

blockquote h3 {
  font-size: clamp(var(--houghton), 1.667vw, var(--jobs));
}
