/*------------------------------------*/
//  #VARIABLES
/*------------------------------------*/

$pad: 30rem;

:root {
  --caliber: 50rem;

  --pine: hsl(138, 76%, 23%);
  --pine-hs: 138, 76%;
  --pine-l: 23%;

  // tahoe peaks for typorgraphic scale
  --freel: 2.5rem; // 40px
  --jobs: 2.0625rem; // 33px
  --rose: 1.75rem; // 28px
  --houghton: 1.4375rem; // 23px
  --relay: 1.1875rem; // 19px
  --stevens: 1rem; // 16px
  --tamarack: 0.8125rem; // 13px

  // apple pencils
  --lead: hsl(0, 0%, 10%);
  --tungsten: hsl(0, 0%, 20%);
  --iron: hsl(0, 0%, 30%);
  --steel: hsl(0, 0%, 40%);
  --nickel: hsl(0, 0%, 50%);
  --aluminium: hsl(0, 0%, 60%);
  --magnesium: hsl(0, 0%, 70%);
  --silver: hsl(0, 0%, 80%);
  --mercury: hsl(0, 0%, 90%);

  // forest layers for z-index
  // https://en.wikipedia.org/wiki/Forest
  --floor: 1;
  --understory: 2;
  --canopy: 3;
  --emergent: 4;

  // border-radius
  --bend: 0.75rem; // 12px
}
