/*------------------------------------*/
//  #VARIABLES
/*------------------------------------*/

$pad: 30rem;

:root {
  --caliber: 50rem;

  --lake: hsl(202, 100%, 37%);
  --lake-hs: 202, 100%;
  --lake-l: 37%;

  --freel: 2.5rem; // 40px
  --jobs: 2.0625rem; // 33px
  --rose: 1.75rem; // 28px
  --houghton: 1.4375rem; // 23px
  --relay: 1.1875rem; // 19px
  --stevens: 1rem; // 16px
  --tamarack: 0.8125rem; // 13px
}
