.pad__down {
  @media (min-width: $pad) {
    display: none !important;
  }
}

.pad__up {
  display: none !important;

  @media (min-width: $pad) {
    display: initial !important; // has to be important when the smaller is
  }
}
